<!--/*@thymesVar id="product" type="ru.beerbis.springer.entity.Product"*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <title th:text="'Позиция ' + ${product.title}"/>
  <style>
    .caption {
      display: inline-block;
      width: 120px;
    }
  </style>
</head>

<body>
<form th:action="@{/goods/save}" th:object="${product}" method="post">
  <input type="hidden" th:if="${id != null}" th:field="*{id}"/>

  <div class="caption">наименование: </div>
  <input type="text" th:field="*{title}" autofocus/><br>

  <div class="caption">цена:</div>
  <input type="text" th:field="*{cost}"/><br>

  <button type="submit">Save</button>
</form>
</body>
</html>
